	<footer>
      <div class="container">
        <h2 class="logo">UK Parliament</h2>
        <ul class="list">
          <li><a href="#">Current Parliament.uk website</a>
          </li>
          <li><a href="#">Cookie Policy</a>
          </li>
        </ul>
      </div>
    </footer>
	<script src="https://parliament-uk-pugin.herokuapp.com/javascripts/main.js"></script>
	<script src="/assets/js/zenscroll-min.js"></script>
  <script type="text/javascript">
  // function hoverTouchUnstick() {
  //     // Check if the device supports touch events
  //     if('ontouchstart' in document.documentElement) {
  //         // Loop through each stylesheet
  //         for(var sheetI = document.styleSheets.length - 1; sheetI >= 0; sheetI--) {
  //             var sheet = document.styleSheets[sheetI];
  //             // Verify if cssRules exists in sheet
  //             if(sheet.cssRules) {
  //                 // Loop through each rule in sheet
  //                 for(var ruleI = sheet.cssRules.length - 1; ruleI >= 0; ruleI--) {
  //                     var rule = sheet.cssRules[ruleI];
  //                     // Verify rule has selector text
  //                     if(rule.selectorText) {
  //                         // Replace hover psuedo-class with active psuedo-class
  //                         rule.selectorText = rule.selectorText.replace(":hover", ":active");
  //                     }
  //                 }
  //             }
  //         }
  //     }
  // }
  // hoverTouchUnstick();
  if ("activeElement" in document)
    document.activeElement.blur();
  </script>
</body>
</html>