<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://parliament-uk-pugin.herokuapp.com/stylesheets/main.css">
  <title>{{title}}</title>
</head>
<body>
	<div class="status--banner">
      <div class="container">
        <p>This is a test website, so may be inaccurate. <a href="feedback.html">give feedback</a> to help improve it.
        </p>
      </div>
    </div>

    <header>
      <div class="container"><a href="/"><img class="logo" src="https://parliament-uk-pugin.herokuapp.com/images/uk_parliament_logo_white.png" alt="UK Parliament" srcset="https://parliament-uk-pugin.herokuapp.com/images/uk_parliament_logo_white.svg"></a>
      </div>
    </header>