{{> header title=data.fields.title }}
<div class="section--primary block theme--grey-5">
  <div class="container">
  
  {{> breadcrumbs}}

    <h1><span class="productlabel">{{> productlabel}}</span>{{data.fields.title}}</h1>
    {{{marked data.fields.audience}}}
    <!-- <p>Read time: {{data.fields.readTimeInMinutes}} minutes.</p> -->
  </div>
</div>

<div class="container content">
	<div class="status--highlight theme--mint--light">
	{{{marked data.fields.message}}}
	</div>
	{{{marked data.fields.stepByStepGuideSteps}}}
	<h2>What next?</h2>
	<ul>
		{{#if ancestry.parent}}
		<li>Back to <a href="/{{cleanURL this.ancestry.parent.path}}">{{this.ancestry.parent.data.fields.title}}</a></li>
		{{/if}}
		<li>Read other <a href="/guides">how to guides</a></li>
		{{#if this.ancestry.parent.ancestry.parent.ancestry.parent}}
		<li>Read other <a href="/{{cleanURL this.ancestry.parent.ancestry.parent.ancestry.parent.path}}#topics">{{this.ancestry.parent.ancestry.parent.ancestry.parent.data.fields.title}} topics</a></li>
		{{/if}}
	</ul>
  {{> contact}}
</div>
{{> footer}}