{{> header title=data.fields.stepByStepGuideTitle }}
<div class="section--primary block theme--grey-4">
  <div class="container">
  
  {{> breadcrumbs}}
  {{#*inline "breadcrumbs-block"}}
  <li><a href="/questions/">Questions</a> &gt;</li>
  <li><a href="#">[subtopic]</a> &gt;</li> <!-- https://www.npmjs.com/package/metalsmith-directory-hierarchy -->
  <li>{{data.fields.stepByStepGuideTitle}}</li>
  {{/inline}}

    <h1>{{data.fields.stepByStepGuideTitle}}</h1>
    <p>Read time: {{data.fields.readTimeInMinutes}} minutes.</p>
  </div>
</div>

<div class="container">
	{{{marked data.fields.stepByStepGuideSteps}}}
  {{> contact}}
</div>
{{> footer}}