{{> header title=data.fields.title }}
<div class="section--primary block theme--grey-4">
  <div class="container">
  
  {{> breadcrumbs}}

    <h1>{{data.fields.title}}</h1>
    <p>Read time: {{data.fields.readTimeInMinutes}} minutes.</p>
  </div>
</div>

<div class="container content">
	{{{marked data.fields.stepByStepGuideSteps}}}
	<h2>What next?</h2>
	<ul>
		{{#if_eq data.fields.stepByStepGuideTitle "Ask an oral question"}}
		<li>Read other <a href="../b.html#in-this-section">topics in this section</a></li>
		{{/if_eq}}
		<li>Read other <a href="/guides">how to guides</a></li>
	</ul>
  {{> contact}}
</div>
{{> footer}}