{{> header title=data.fields.quickGuideTitle }}
<div class="section--primary block theme--grey-5">
  <div class="container">

  {{> breadcrumbs}}
	{{#*inline "breadcrumbs-block"}}
	<li>{{data.fields.quickGuideTitle}}</li>
	{{/inline}}

    <h1><span class="productlabel">{{> productlabel}}</span>{{data.fields.quickGuideTitle}}</h1>
    {{#if data.fields.readTimeInMinutes}}
    <p>Read time: {{data.fields.readTimeInMinutes}} minutes.</p>
    {{/if}}
  </div>
</div>

<div class="container content">
{{{marked data.fields.quickGuideText}}}
<h2>What next?</h2>
  <ul>
    <li><a href="../#find-out-about">Explore the topics in this section</a></li>
  </ul>
</div>
{{> footer}}