{{> header title=data.fields.quickGuideTitle }}
<div class="section--primary block theme--grey-5">
  <div class="container">

  {{> breadcrumbs}}
  {{#*inline "breadcrumbs-block"}}
  <li><a href="/questions/">Questions</a> &gt;</li>
  <li>{{data.fields.quickGuideTitle}}</li>
  {{/inline}}

    <h1>{{data.fields.quickGuideTitle}}</h1>
    {{#if data.fields.readTimeInMinutes}}
    <p>Read time: {{data.fields.readTimeInMinutes}} minutes.</p>
    {{/if}}
  </div>
</div>

<div class="container">
{{{marked data.fields.quickGuideText}}}
</div>
{{> footer}}