{{> header title=data.fields.subTopic }}
<div class="section--primary block theme--grey-5">
  <div class="container">

  {{> breadcrumbs}}

    <h1><span class="productlabel">{{> productlabel}}</span>{{data.fields.title}}</h1>
    {{{marked data.fields.subTopicDescriptor}}}
  </div>
</div>

<div class="container content">
  <h2>On this page</h2>
  <ul>
  {{#each data.fields.stepByStepGuide}}
  <li><a href="#{{{slugify fields.title}}}">Step by step: {{fields.title}}</a></li>
  {{/each}}
  {{#each data.fields.subTopicSection}}
  <li><a href="#{{{slugify fields.subTopicSectionTitle}}}">{{fields.subTopicSectionTitle}}</a></li>
  {{/each}}

  {{#if data.fields.video}}
  <li><a href="#{{{slugify data.fields.video.fields.title}}}">{{data.fields.video.fields.title}}</a></li>
  {{/if}}


  </ul>

  {{#each data.fields.stepByStepGuide}}
  <h2 id="{{{slugify fields.title}}}">Step by step: {{fields.title}}</h2>
  {{{marked fields.stepByStepGuideSteps}}}
  {{/each}}

  {{#each data.fields.subTopicSection}}
  <h2 id="{{{slugify fields.subTopicSectionTitle}}}">{{fields.subTopicSectionTitle}}</h2>
  {{{marked fields.subTopicSectionText}}}
  {{/each}}

  {{#if data.fields.video}}
  <h2 id="{{{slugify data.fields.video.fields.title}}}">{{data.fields.video.fields.title}}</h2>
  <div class="video-wrapper">
  <iframe src="{{data.fields.video.fields.url}}" id="UKPPlayer" name="UKPPlayer" title="UK Parliament Player" seamless="seamless" frameborder="0" allowfullscreen class="video-iframe"></iframe>
  <!-- <iframe src="{{data.fields.video.fields.url}}" id="UKPPlayer" name="UKPPlayer" title="UK Parliament Player" seamless="seamless" frameborder="0" allowfullscreen style="width:100%;height:100%;"></iframe> -->
  </div>

  {{/if}}

  
</div>

{{#if data.fields.related}}
<div class="block theme--grey-4 related">
  <div class="container">
    <h2>You may also need to know</h2>
    {{{marked data.fields.related}}}
  </div>
</div>
{{/if}}

<div class="container">
  {{> contact}}
</div>

{{> footer}}