{{> header title=data.fields.subTopic }}
<div class="section--primary block theme--grey-5">
  <div class="container">

  {{> breadcrumbs}}

    <h1>{{data.fields.title}}</h1>
    {{{marked data.fields.subTopicDescriptor}}}
  </div>
</div>

<div class="container content">
  <h2>On this page</h2>
  <ul>
  {{#each data.fields.stepByStepGuide}}
  <li><a href="#{{{slugify fields.title}}}">Step by step: {{fields.title}}</a></li>
  {{/each}}
  {{#each data.fields.subTopicSection}}
  <li><a href="#{{{slugify fields.subTopicSectionTitle}}}">{{fields.subTopicSectionTitle}}</a></li>
  {{/each}}
  </ul>

  {{#each data.fields.stepByStepGuide}}
  <h2 id="{{{slugify fields.title}}}">Step by step: {{fields.title}}</h2>
  {{{marked fields.stepByStepGuideSteps}}}
  {{/each}}

  {{#each data.fields.subTopicSection}}
  <h2 id="{{{slugify fields.subTopicSectionTitle}}}">{{fields.subTopicSectionTitle}}</h2>
  {{{marked fields.subTopicSectionText}}}
  {{/each}}

  {{> contact}}
</div>

{{> footer}}