{{> header title=data.fields.subTopic }}
<div class="section--primary block theme--grey-5">
  <div class="container">
    <h1>{{data.fields.subTopic}}</h1>
    {{{marked data.fields.subTopicDescriptor}}}
  </div>
</div>

<div class="container">
  {{#if data.fields.contacts}}
  <h2>Speak to an expert</h2>
  <ul>
  {{#each data.fields.contacts }}
    <li>{{fields.contactName}}</li>
    <ul>
      <li>Email: <a href="mailto:{{fields.emailAddress}}">{{fields.emailAddress}}</a></li>
      <li>Extension(s){{fields.phoneExtensionNumber}}</li>
    </ul>
  {{/each}}
  </ul>
  {{/if}}

  <h2>On this page</h2>
  <ol>
  {{#each data.fields.stepByStepGuide}}
  <li><a href="#{{{slugify fields.stepByStepGuideTitle}}}">{{fields.stepByStepGuideTitle}}</a></li>
  {{/each}}
  {{#each data.fields.subTopicSection}}
  <li><a href="#{{{slugify fields.subTopicSectionTitle}}}">{{fields.subTopicSectionTitle}}</a></li>
  {{/each}}
  </ol>

  {{#each data.fields.stepByStepGuide}}
  <h2 id="{{{slugify fields.stepByStepGuideTitle}}}">{{fields.stepByStepGuideTitle}}</h2>
  {{{marked fields.stepByStepGuideSteps}}}
  {{/each}}

  {{#each data.fields.subTopicSection}}
  <h2 id="{{{slugify fields.subTopicSectionTitle}}}">{{fields.subTopicSectionTitle}}</h2>
  {{{marked fields.subTopicSectionText}}}
  {{/each}}
</div>

{{> footer}}