{{> header title=data.fields.topic }}
<div class="section--primary">
  <div class="container">
    <h1>{{data.fields.topic}}</h1>
    {{{marked data.fields.topicDescriptor}}}
  </div>
</div>

<div class="container">
  {{#if data.fields.contacts}}
  <h2>Speak to an expert</h2>
  <ul>
  {{#each data.fields.contacts }}
    <li>{{fields.contactName}}</li>
    <ul>
      <li>Email: <a href="mailto:{{fields.emailAddress}}">{{fields.emailAddress}}</a></li>
      <li>Extension(s){{fields.phoneExtensionNumber}}</li>
    </ul>
  {{/each}}
  </ul>
  {{/if}}
<h2>{{data.fields.quickGuide.fields.quickGuideTitle}}</h2>

{{{marked data.fields.quickGuide.fields.quickGuideText}}}

  <nav class="navigation--block">
  <ul>
    {{#each data.fields.subTopic }}
      <li>
        <a href="{{{slugify fields.subTopic}}}">
          <h3>{{fields.subTopic}}</h3>
          {{#if fields.subTopicDescriptor}}
          {{{marked fields.subTopicDescriptor}}}
          {{/if}}
        </a>
      </li>
    {{/each}}
    </ul>
  </nav>
    {{content}}
</div>
{{> footer}}